brand-infinity-workflows/main-workflows/Broadcaster_Main.json
{
  "name": "Pillar 5: Broadcaster Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broadcast",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        112,
        432
      ],
      "webhookId": "broadcaster-main",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jWLoA0KrRtvrl5V4",
          "name": "Video API"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM campaigns WHERE id = '{{ $json.body.campaign_id }}' AND status = 'approved' AND emergency_stop = false",
        "options": {}
      },
      "id": "check-campaign",
      "name": "Check Campaign & Kill Switch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        336,
        432
      ],
      "credentials": {
        "postgres": {
          "id": "5kCruSryNkW0E0CB",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ ($json || []).length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "can-proceed",
      "name": "Can Proceed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        432
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'ERR_NOT_APPROVED_OR_STOPPED' }) }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "return-403",
      "name": "Return 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        784,
        528
      ]
    },
    {
      "parameters": {
        "workflowId": "lwHIR7PonbgLVkmJ",
        "options": {}
      },
      "id": "acquire-lock",
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        784,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.lock_acquired }}",
              "value2": true
            }
          ]
        }
      },
      "id": "lock-check",
      "name": "Locked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1008,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PREPARE PLATFORM DISTRIBUTION\n// Per Manifesto Section 7\n// ============================================\n\nconst input = $('Webhook').first().json.body;\nconst campaign = $('Check Campaign & Kill Switch').first().json;\nconst campaignData = Array.isArray(campaign) ? campaign[0] : campaign;\n\nconst platforms = campaignData.target_platforms || input.platforms || ['tiktok'];\n\nreturn platforms.map(platform => ({\n  json: {\n    campaign_id: input.campaign_id,\n    platform: platform,\n    video_url: input.video_url || campaignData.video_url,\n    caption: input.caption || '',\n    user_id: campaignData.user_id\n  }\n}));"
      },
      "id": "prep-platforms",
      "name": "Prepare Platforms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop",
      "name": "Loop Platforms",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1456,
        320
      ]
    },
    {
      "parameters": {
        "workflowId": "kmsyq2wbESxLvETZ",
        "options": {}
      },
      "id": "refresh-token",
      "name": "Refresh Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1680,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "token-ok",
      "name": "Token OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1904,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=rate_limit:{{ $('Loop Platforms').first().json.platform }}:remaining",
        "options": {}
      },
      "id": "check-rate",
      "name": "Check Rate Limit",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2128,
        240
      ],
      "credentials": {
        "redis": {
          "id": "1Vc5f2QSvfPfCpxX",
          "name": "Brand Infinity Redis"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// RATE LIMIT THROTTLING\n// Per Manifesto Section 7.2\n// ============================================\n\nconst remaining = parseInt($input.all()[0].json || '100');\nconst platform = $('Loop Platforms').first().json;\nconst token = $('Refresh Token').first().json;\n\nlet sleepMs = 0;\nif (remaining < 10) {\n  sleepMs = 60000; // Wait 1 minute\n} else if (remaining < 50) {\n  sleepMs = 2000; // Light throttle\n}\n\nreturn [{\n  json: {\n    ...platform,\n    access_token: token.access_token,\n    rate_remaining: remaining,\n    sleep_ms: sleepMs\n  }\n}];"
      },
      "id": "calc-throttle",
      "name": "Calculate Throttle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        240
      ]
    },
    {
      "parameters": {
        "amount": "={{ $json.sleep_ms }}",
        "unit": "milliseconds"
      },
      "id": "wait",
      "name": "Wait for Rate",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2576,
        240
      ],
      "webhookId": "d41cdbf1-b1e2-4dbb-869b-9ccfd7f9bf4a"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BUILD PLATFORM-SPECIFIC UPLOAD REQUEST\n// Per Manifesto Section 7\n// ============================================\n\nconst data = $input.all()[0].json;\n\nconst uploadConfigs = {\n  tiktok: {\n    url: 'https://open-api.tiktok.com/video/upload/',\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${data.access_token}` },\n    body: { video_url: data.video_url, caption: data.caption }\n  },\n  instagram: {\n    url: 'https://graph.instagram.com/me/media',\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${data.access_token}` },\n    body: { media_type: 'REELS', video_url: data.video_url, caption: data.caption }\n  },\n  youtube: {\n    url: 'https://www.googleapis.com/upload/youtube/v3/videos',\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${data.access_token}` },\n    body: { snippet: { title: data.caption }, status: { privacyStatus: 'public' } }\n  }\n};\n\nconst config = uploadConfigs[data.platform] || uploadConfigs.tiktok;\n\nreturn [{\n  json: {\n    ...data,\n    upload_config: config\n  }\n}];"
      },
      "id": "build-upload",
      "name": "Build Upload Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        240
      ]
    },
    {
      "parameters": {
        "method": "={{ $json.upload_config.method }}",
        "url": "={{ $json.upload_config.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.upload_config.body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "upload",
      "name": "Upload to Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3024,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "jWLoA0KrRtvrl5V4",
          "name": "Video API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse upload response\nconst data = $('Build Upload Request').first().json;\nconst response = $input.all()[0].json;\n\nif (response.error) {\n  return [{\n    json: {\n      success: false,\n      platform: data.platform,\n      campaign_id: data.campaign_id,\n      error: response.error\n    }\n  }];\n}\n\nconst postId = response.id || response.post_id || response.media_id;\nconst postUrl = response.permalink || response.share_url || `https://${data.platform}.com/post/${postId}`;\n\nreturn [{\n  json: {\n    success: true,\n    platform: data.platform,\n    campaign_id: data.campaign_id,\n    post_id: postId,\n    post_url: postUrl,\n    published_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-upload",
      "name": "Parse Upload Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3248,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "upload-ok",
      "name": "Upload OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3472,
        240
      ]
    },
    {
      "parameters": {
        "tableId": "platform_posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "publication_id",
              "fieldValue": "={{ $json.publication_id }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.platform }}"
            },
            {
              "fieldId": "platform_post_id",
              "fieldValue": "={{ $json.post_id }}"
            },
            {
              "fieldId": "formatted_video_url",
              "fieldValue": "={{ $json.video_url }}"
            },
            {
              "fieldId": "publication_status",
              "fieldValue": "published"
            },
            {
              "fieldId": "published_at",
              "fieldValue": "={{ $json.published_at }}"
            }
          ]
        }
      },
      "id": "store-post",
      "name": "Store Post Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3920,
        48
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ChWvV6najCTQ4JEQ",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare post record\nconst data = $input.all()[0].json;\n\nreturn [{\n  json: {\n    publication_id: data.campaign_id, // Or get from elsewhere if you have publications table\n    platform: data.platform,\n    platform_post_id: data.post_id,\n    formatted_video_url: data.post_url,\n    published_at: data.published_at,\n    publication_status: 'published'\n  }\n}];"
      },
      "id": "prep-post",
      "name": "Prep Post Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Continue to next platform\nreturn [{ json: { continue: true } }];"
      },
      "id": "continue-loop",
      "name": "Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": "uCTePCAfvuecs7La",
        "options": {}
      },
      "id": "alert-upload-fail",
      "name": "Alert Upload Failed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3920,
        256
      ]
    },
    {
      "parameters": {
        "workflowId": "4OwwpHBjkMYBzsuI",
        "options": {}
      },
      "id": "release-lock",
      "name": "Release Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1680,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, campaign_id: $('Webhook').first().json.body.campaign_id, status: 'published' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1904,
        64
      ]
    },
    {
      "parameters": {
        "workflowId": "uCTePCAfvuecs7La",
        "options": {}
      },
      "id": "alert-token-fail",
      "name": "Alert Token Failed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3680,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Campaign & Kill Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Campaign & Kill Switch": {
      "main": [
        [
          {
            "node": "Can Proceed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Proceed?": {
      "main": [
        [
          {
            "node": "Acquire Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock": {
      "main": [
        [
          {
            "node": "Locked?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locked?": {
      "main": [
        [
          {
            "node": "Prepare Platforms",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Platforms": {
      "main": [
        [
          {
            "node": "Loop Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Platforms": {
      "main": [
        [
          {
            "node": "Refresh Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Release Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Token": {
      "main": [
        [
          {
            "node": "Token OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token OK?": {
      "main": [
        [
          {
            "node": "Check Rate Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Token Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Token Failed": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Rate Limit": {
      "main": [
        [
          {
            "node": "Calculate Throttle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Throttle": {
      "main": [
        [
          {
            "node": "Wait for Rate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Rate": {
      "main": [
        [
          {
            "node": "Build Upload Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upload Request": {
      "main": [
        [
          {
            "node": "Upload to Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Platform": {
      "main": [
        [
          {
            "node": "Parse Upload Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Upload Response": {
      "main": [
        [
          {
            "node": "Upload OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload OK?": {
      "main": [
        [
          {
            "node": "Prep Post Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Upload Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Post Record": {
      "main": [
        [
          {
            "node": "Store Post Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Post Record": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Upload Failed": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue": {
      "main": [
        [
          {
            "node": "Loop Platforms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6ec26dbb-3889-4f24-ac2a-0a2df25a083c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb0f3042150127121074617aaee31b106c313805cbc452132240d35f72eba898"
  },
  "id": "bEVHfVUzZleXe07w",
  "tags": [
    {
      "updatedAt": "2025-12-23T09:40:14.135Z",
      "createdAt": "2025-12-23T09:40:14.135Z",
      "id": "ak5oOECQqNIPSE0N",
      "name": "Brand Infinity Engine"
    }
  ]
}