brand-infinity-workflows/main-workflows/Broadcaster_Main.json
{
  "name": "Pillar 5: Broadcaster Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broadcast",
        "authentication": "headerAuth",
        "options": { "responseMode": "responseNode" }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [100, 300],
      "webhookId": "broadcaster-main"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM campaigns WHERE id = '{{ $json.body.campaign_id }}' AND status = 'approved' AND emergency_stop = false",
        "options": {}
      },
      "id": "check-campaign",
      "name": "Check Campaign & Kill Switch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [300, 300],
      "credentials": { "postgres": { "id": "postgres-creds", "name": "Supabase Postgres" } }
    },
    {
      "parameters": {
        "conditions": { "number": [{ "value1": "={{ ($json || []).length }}", "operation": "larger", "value2": 0 }] }
      },
      "id": "can-proceed",
      "name": "Can Proceed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'ERR_NOT_APPROVED_OR_STOPPED' }) }}",
        "options": { "responseCode": 403 }
      },
      "id": "return-403",
      "name": "Return 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 450]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.ACQUIRE_LOCK_WORKFLOW_ID }}",
        "options": {},
        "inputData": {
          "table_name": "campaigns",
          "record_id": "={{ $('Webhook').first().json.body.campaign_id }}",
          "workflow_id": "={{ $execution.id }}",
          "expected_status": "approved",
          "target_status": "distributing"
        }
      },
      "id": "acquire-lock",
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [700, 200]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.lock_acquired }}", "value2": true }] }
      },
      "id": "lock-check",
      "name": "Locked?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PREPARE PLATFORM DISTRIBUTION\n// Per Manifesto Section 7\n// ============================================\n\nconst input = $('Webhook').first().json.body;\nconst campaign = $('Check Campaign & Kill Switch').first().json;\nconst campaignData = Array.isArray(campaign) ? campaign[0] : campaign;\n\nconst platforms = campaignData.target_platforms || input.platforms || ['tiktok'];\n\nreturn platforms.map(platform => ({\n  json: {\n    campaign_id: input.campaign_id,\n    platform: platform,\n    video_url: input.video_url || campaignData.video_url,\n    caption: input.caption || '',\n    user_id: campaignData.user_id\n  }\n}));"
      },
      "id": "prep-platforms",
      "name": "Prepare Platforms",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "loop",
      "name": "Loop Platforms",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.REFRESH_PLATFORM_TOKEN_WORKFLOW_ID }}",
        "options": {},
        "inputData": {
          "platform": "={{ $json.platform }}",
          "user_id": "={{ $json.user_id }}"
        }
      },
      "id": "refresh-token",
      "name": "Refresh Token",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.success }}", "value2": true }] }
      },
      "id": "token-ok",
      "name": "Token OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "rate_limit:{{ $('Loop Platforms').first().json.platform }}:remaining"
      },
      "id": "check-rate",
      "name": "Check Rate Limit",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1900, 150],
      "credentials": { "redis": { "id": "redis-creds", "name": "Redis" } },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// RATE LIMIT THROTTLING\n// Per Manifesto Section 7.2\n// ============================================\n\nconst remaining = parseInt($input.all()[0].json || '100');\nconst platform = $('Loop Platforms').first().json;\nconst token = $('Refresh Token').first().json;\n\nlet sleepMs = 0;\nif (remaining < 10) {\n  sleepMs = 60000; // Wait 1 minute\n} else if (remaining < 50) {\n  sleepMs = 2000; // Light throttle\n}\n\nreturn [{\n  json: {\n    ...platform,\n    access_token: token.access_token,\n    rate_remaining: remaining,\n    sleep_ms: sleepMs\n  }\n}];"
      },
      "id": "calc-throttle",
      "name": "Calculate Throttle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 150]
    },
    {
      "parameters": {
        "amount": "={{ $json.sleep_ms }}",
        "unit": "milliseconds"
      },
      "id": "wait",
      "name": "Wait for Rate",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2300, 150]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BUILD PLATFORM-SPECIFIC UPLOAD REQUEST\n// Per Manifesto Section 7\n// ============================================\n\nconst data = $input.all()[0].json;\n\nconst uploadConfigs = {\n  tiktok: {\n    url: 'https://open-api.tiktok.com/video/upload/',\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${data.access_token}` },\n    body: { video_url: data.video_url, caption: data.caption }\n  },\n  instagram: {\n    url: 'https://graph.instagram.com/me/media',\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${data.access_token}` },\n    body: { media_type: 'REELS', video_url: data.video_url, caption: data.caption }\n  },\n  youtube: {\n    url: 'https://www.googleapis.com/upload/youtube/v3/videos',\n    method: 'POST',\n    headers: { 'Authorization': `Bearer ${data.access_token}` },\n    body: { snippet: { title: data.caption }, status: { privacyStatus: 'public' } }\n  }\n};\n\nconst config = uploadConfigs[data.platform] || uploadConfigs.tiktok;\n\nreturn [{\n  json: {\n    ...data,\n    upload_config: config\n  }\n}];"
      },
      "id": "build-upload",
      "name": "Build Upload Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 150]
    },
    {
      "parameters": {
        "method": "={{ $json.upload_config.method }}",
        "url": "={{ $json.upload_config.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.upload_config.body) }}",
        "options": { "timeout": 120000 }
      },
      "id": "upload",
      "name": "Upload to Platform",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2700, 150],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse upload response\nconst data = $('Build Upload Request').first().json;\nconst response = $input.all()[0].json;\n\nif (response.error) {\n  return [{\n    json: {\n      success: false,\n      platform: data.platform,\n      campaign_id: data.campaign_id,\n      error: response.error\n    }\n  }];\n}\n\nconst postId = response.id || response.post_id || response.media_id;\nconst postUrl = response.permalink || response.share_url || `https://${data.platform}.com/post/${postId}`;\n\nreturn [{\n  json: {\n    success: true,\n    platform: data.platform,\n    campaign_id: data.campaign_id,\n    post_id: postId,\n    post_url: postUrl,\n    published_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-upload",
      "name": "Parse Upload Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2900, 150]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.success }}", "value2": true }] }
      },
      "id": "upload-ok",
      "name": "Upload OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3100, 150]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "platform_posts",
        "columns": "campaign_id,platform,post_id,post_url,published_at,status",
        "additionalFields": {}
      },
      "id": "store-post",
      "name": "Store Post Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [3300, 50],
      "credentials": { "supabaseApi": { "id": "supabase-creds", "name": "Supabase API" } }
    },
    {
      "parameters": {
        "jsCode": "// Prepare post record\nconst data = $input.all()[0].json;\n\nreturn [{\n  json: {\n    campaign_id: data.campaign_id,\n    platform: data.platform,\n    post_id: data.post_id,\n    post_url: data.post_url,\n    published_at: data.published_at,\n    status: 'published'\n  }\n}];"
      },
      "id": "prep-post",
      "name": "Prep Post Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3100, 50]
    },
    {
      "parameters": {
        "jsCode": "// Continue to next platform\nreturn [{ json: { continue: true } }];"
      },
      "id": "continue-loop",
      "name": "Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3500, 150]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.SEND_ALERT_WORKFLOW_ID }}",
        "options": {},
        "inputData": {
          "alert_type": "error",
          "message": "={{ 'Platform upload failed: ' + $json.platform + ' - ' + JSON.stringify($json.error) }}",
          "campaign_id": "={{ $json.campaign_id }}"
        }
      },
      "id": "alert-upload-fail",
      "name": "Alert Upload Failed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3300, 250]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.RELEASE_LOCK_WORKFLOW_ID }}",
        "options": {},
        "inputData": {
          "table_name": "campaigns",
          "record_id": "={{ $('Webhook').first().json.body.campaign_id }}",
          "workflow_id": "={{ $execution.id }}",
          "final_status": "published"
        }
      },
      "id": "release-lock",
      "name": "Release Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [3700, 150]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, campaign_id: $('Webhook').first().json.body.campaign_id, status: 'published' }) }}",
        "options": { "responseCode": 200 }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3900, 150]
    },
    {
      "parameters": {
        "workflowId": "={{ $env.SEND_ALERT_WORKFLOW_ID }}",
        "options": {},
        "inputData": {
          "alert_type": "error",
          "message": "={{ 'Token refresh failed for platform ' + $('Loop Platforms').first().json.platform }}",
          "campaign_id": "={{ $('Loop Platforms').first().json.campaign_id }}"
        }
      },
      "id": "alert-token-fail",
      "name": "Alert Token Failed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1900, 350]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Check Campaign & Kill Switch", "type": "main", "index": 0 }]] },
    "Check Campaign & Kill Switch": { "main": [[{ "node": "Can Proceed?", "type": "main", "index": 0 }]] },
    "Can Proceed?": { "main": [[{ "node": "Acquire Lock", "type": "main", "index": 0 }], [{ "node": "Return 403", "type": "main", "index": 0 }]] },
    "Acquire Lock": { "main": [[{ "node": "Locked?", "type": "main", "index": 0 }]] },
    "Locked?": { "main": [[{ "node": "Prepare Platforms", "type": "main", "index": 0 }], []] },
    "Prepare Platforms": { "main": [[{ "node": "Loop Platforms", "type": "main", "index": 0 }]] },
    "Loop Platforms": { "main": [[{ "node": "Refresh Token", "type": "main", "index": 0 }], [{ "node": "Release Lock", "type": "main", "index": 0 }]] },
    "Refresh Token": { "main": [[{ "node": "Token OK?", "type": "main", "index": 0 }]] },
    "Token OK?": { "main": [[{ "node": "Check Rate Limit", "type": "main", "index": 0 }], [{ "node": "Alert Token Failed", "type": "main", "index": 0 }]] },
    "Alert Token Failed": { "main": [[{ "node": "Continue", "type": "main", "index": 0 }]] },
    "Check Rate Limit": { "main": [[{ "node": "Calculate Throttle", "type": "main", "index": 0 }]] },
    "Calculate Throttle": { "main": [[{ "node": "Wait for Rate", "type": "main", "index": 0 }]] },
    "Wait for Rate": { "main": [[{ "node": "Build Upload Request", "type": "main", "index": 0 }]] },
    "Build Upload Request": { "main": [[{ "node": "Upload to Platform", "type": "main", "index": 0 }]] },
    "Upload to Platform": { "main": [[{ "node": "Parse Upload Response", "type": "main", "index": 0 }]] },
    "Parse Upload Response": { "main": [[{ "node": "Upload OK?", "type": "main", "index": 0 }]] },
    "Upload OK?": { "main": [[{ "node": "Prep Post Record", "type": "main", "index": 0 }], [{ "node": "Alert Upload Failed", "type": "main", "index": 0 }]] },
    "Prep Post Record": { "main": [[{ "node": "Store Post Record", "type": "main", "index": 0 }]] },
    "Store Post Record": { "main": [[{ "node": "Continue", "type": "main", "index": 0 }]] },
    "Alert Upload Failed": { "main": [[{ "node": "Continue", "type": "main", "index": 0 }]] },
    "Continue": { "main": [[{ "node": "Loop Platforms", "type": "main", "index": 0 }]] },
    "Release Lock": { "main": [[{ "node": "Return Success", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "main-workflow" }, { "name": "pillar-5" }],
  "active": false,
  "meta": { "manifestoSection": "Section 7", "description": "Multi-platform broadcasting with kill switch, rate limiting, token refresh", "nodeCount": 30 }
}
