brand-infinity-workflows/main-workflows/Campaign_Verifier.json
{
  "name": "Pillar 4: Campaign Verifier",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "campaign/verify",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        112,
        304
      ],
      "webhookId": "campaign-verify"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "videos",
        "limit": 10,
        "filterType": "string",
        "filterString": "=campaign_id=eq.{{ $json.body.campaign_id }}"
      },
      "id": "fetch-assets",
      "name": "Fetch Campaign Assets",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        304,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ChWvV6najCTQ4JEQ",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ASSET VERIFICATION PREPARATION\n// Per Manifesto Section 6.1 - 404 Deep Scan\n// ============================================\n\nconst input = $('Webhook').first().json.body;\nconst assets = $input.all()[0].json;\nconst assetList = Array.isArray(assets) ? assets : [assets];\n\nreturn assetList.map(asset => ({\n  json: {\n    campaign_id: input.campaign_id,\n    asset_id: asset.id,\n    asset_url: asset.video_url || asset.url,\n    asset_type: 'video'\n  }\n}));"
      },
      "id": "prep-verify",
      "name": "Prepare Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop",
      "name": "Loop Assets",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        304
      ]
    },
    {
      "parameters": {
        "method": "HEAD",
        "url": "={{ $json.asset_url }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "head-check",
      "name": "HEAD Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        912,
        288
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// VERIFY ASSET RESPONSE\n// Per Manifesto Section 6.1\n// ============================================\n\nconst asset = $('Loop Assets').first().json;\nconst response = $input.all()[0].json;\n\nconst statusCode = response.statusCode || response.status || 404;\nconst contentType = response.headers?.['content-type'] || '';\nconst contentLength = parseInt(response.headers?.['content-length'] || '0');\n\nconst checks = {\n  status_ok: statusCode === 200,\n  type_ok: contentType.includes('video'),\n  size_ok: contentLength > 0\n};\n\nconst verified = checks.status_ok && checks.type_ok && checks.size_ok;\n\nreturn [{\n  json: {\n    campaign_id: asset.campaign_id,\n    asset_id: asset.asset_id,\n    asset_url: asset.asset_url,\n    verified: verified,\n    checks: checks,\n    status_code: statusCode,\n    content_type: contentType,\n    content_length: contentLength\n  }\n}];"
      },
      "id": "verify-response",
      "name": "Verify Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.verified }}",
              "value2": true
            }
          ]
        }
      },
      "id": "verified-check",
      "name": "Verified?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1312,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Continue to next asset\nreturn [{ json: { ...($input.all()[0].json), status: 'verified' } }];"
      },
      "id": "mark-verified",
      "name": "Mark Verified",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": "uCTePCAfvuecs7La",
        "options": {}
      },
      "id": "alert-fail",
      "name": "Alert Failed",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1504,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Continue loop\nreturn [{ json: { continue: true } }];"
      },
      "id": "continue-loop",
      "name": "Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PLATFORM COMPLIANCE CHECK\n// Per Manifesto Section 6.3\n// ============================================\n\nconst input = $('Webhook').first().json.body;\nconst platforms = input.target_platforms || ['tiktok', 'instagram'];\n\nconst platformRules = {\n  tiktok: { aspect: '9:16', maxDuration: 600, maxSize: 4 * 1024 * 1024 * 1024 },\n  instagram: { aspect: '9:16', maxDuration: 90, maxSize: 3.6 * 1024 * 1024 * 1024 },\n  youtube_shorts: { aspect: '9:16', maxDuration: 60, maxSize: null },\n  youtube: { aspect: '16:9', maxDuration: 43200, maxSize: 256 * 1024 * 1024 * 1024 },\n  linkedin: { aspect: '4:5', maxDuration: 600, maxSize: 5 * 1024 * 1024 * 1024 }\n};\n\nconst compliance = {};\nfor (const platform of platforms) {\n  const rules = platformRules[platform];\n  if (rules) {\n    compliance[platform] = {\n      compliant: true, // Would check actual video metadata\n      rules: rules,\n      checks_passed: ['aspect', 'duration', 'size']\n    };\n  }\n}\n\nreturn [{\n  json: {\n    campaign_id: input.campaign_id,\n    compliance: compliance,\n    all_compliant: Object.values(compliance).every(c => c.compliant)\n  }\n}];"
      },
      "id": "compliance-check",
      "name": "Platform Compliance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.all_compliant }}",
              "value2": true
            }
          ]
        }
      },
      "id": "compliant-check",
      "name": "All Compliant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2112,
        304
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE campaigns SET status = 'verified', requires_approval = true WHERE id = '{{ $json.campaign_id }}' RETURNING *",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Campaign Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2304,
        208
      ],
      "credentials": {
        "postgres": {
          "id": "5kCruSryNkW0E0CB",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, campaign_id: $('Webhook').first().json.body.campaign_id, verified: true, compliance: $('Platform Compliance').first().json.compliance }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2512,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'NOT_COMPLIANT', compliance: $json.compliance }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "return-fail",
      "name": "Return Compliance Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2304,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Campaign Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Campaign Assets": {
      "main": [
        [
          {
            "node": "Prepare Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Verification": {
      "main": [
        [
          {
            "node": "Loop Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Assets": {
      "main": [
        [
          {
            "node": "HEAD Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Platform Compliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HEAD Request": {
      "main": [
        [
          {
            "node": "Verify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Response": {
      "main": [
        [
          {
            "node": "Verified?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verified?": {
      "main": [
        [
          {
            "node": "Mark Verified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Verified": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Failed": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue": {
      "main": [
        [
          {
            "node": "Loop Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Platform Compliance": {
      "main": [
        [
          {
            "node": "All Compliant?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Compliant?": {
      "main": [
        [
          {
            "node": "Update Campaign Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Compliance Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Campaign Status": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c2ab0c7c-cb64-4283-ab2b-19154d151838",
  "meta": {
    "instanceId": "fb0f3042150127121074617aaee31b106c313805cbc452132240d35f72eba898"
  },
  "id": "XRqNj55hczvqWAp3",
  "tags": [
    {
      "updatedAt": "2025-12-23T09:40:14.135Z",
      "createdAt": "2025-12-23T09:40:14.135Z",
      "id": "ak5oOECQqNIPSE0N",
      "name": "Brand Infinity Engine"
    }
  ]
}