brand-infinity-workflows/main-workflows/Circuit_Breaker_Monitor.json
{
  "name": "Monitor: Circuit Breaker Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "cron",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        112,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CIRCUIT BREAKER HEALTH CHECK\n// Per Manifesto Section 2, Dimension 6\n// ============================================\n\nconst providers = ['openai', 'runway', 'pika', 'kling', 'sora', 'tiktok', 'instagram', 'youtube'];\n\nreturn providers.map(p => ({ json: { provider: p } }));"
      },
      "id": "list-providers",
      "name": "List Providers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "loop",
      "name": "Loop Providers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "Pattern-based key scan",
        "options": {}
      },
      "id": "get-state",
      "name": "Get Circuit State",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        704,
        288
      ],
      "credentials": {
        "redis": {
          "id": "1Vc5f2QSvfPfCpxX",
          "name": "Brand Infinity Redis"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse circuit state\nconst provider = $('Loop Providers').first().json.provider;\nconst result = $input.all()[0].json;\n\nlet status = 'CLOSED';\nlet failures = 0;\nlet openedAt = null;\n\nif (Array.isArray(result)) {\n  status = result[0] || 'CLOSED';\n  failures = parseInt(result[1]) || 0;\n  openedAt = result[2] || null;\n}\n\nreturn [{\n  json: {\n    provider: provider,\n    status: status,\n    consecutive_failures: failures,\n    opened_at: openedAt,\n    is_open: status === 'OPEN',\n    checked_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-state",
      "name": "Parse State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_open }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-open",
      "name": "Is Open?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1104,
        288
      ]
    },
    {
      "parameters": {
        "workflowId": "uCTePCAfvuecs7La",
        "options": {}
      },
      "id": "alert-open",
      "name": "Alert Open Circuit",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1312,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// Continue to next provider\nreturn [{ json: { continue: true } }];"
      },
      "id": "continue",
      "name": "Continue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "List Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Providers": {
      "main": [
        [
          {
            "node": "Loop Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Providers": {
      "main": [
        [
          {
            "node": "Get Circuit State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Circuit State": {
      "main": [
        [
          {
            "node": "Parse State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse State": {
      "main": [
        [
          {
            "node": "Is Open?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Open?": {
      "main": [
        [
          {
            "node": "Alert Open Circuit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Open Circuit": {
      "main": [
        [
          {
            "node": "Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continue": {
      "main": [
        [
          {
            "node": "Loop Providers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e5dcc686-4685-401f-b54a-6de231254546",
  "meta": {
    "instanceId": "fb0f3042150127121074617aaee31b106c313805cbc452132240d35f72eba898"
  },
  "id": "I4xuCa0cmdhh6PCi",
  "tags": [
    {
      "updatedAt": "2025-12-23T09:40:14.135Z",
      "createdAt": "2025-12-23T09:40:14.135Z",
      "id": "ak5oOECQqNIPSE0N",
      "name": "Brand Infinity Engine"
    }
  ]
}