brand-infinity-workflows/main-workflows/Strategist_Main.json
{
  "name": "Pillar 1: Strategist Main",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "strategist",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        112,
        592
      ],
      "webhookId": "strategist-main",
      "credentials": {
        "httpHeaderAuth": {
          "id": "uNNf74d1EVpcGBgo",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "y0c3JFOEAZFkvAjC",
        "options": {}
      },
      "id": "validate-request",
      "name": "Validate Request Schema",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        336,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "validation-check",
      "name": "Validation Passed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        560,
        592
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'ERR_VALIDATION_FAILED', message: $json.message, errors: $json.errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "return-validation-error",
      "name": "Return 400 Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        784,
        688
      ]
    },
    {
      "parameters": {
        "workflowId": "lwHIR7PonbgLVkmJ",
        "options": {}
      },
      "id": "acquire-campaign-lock",
      "name": "Acquire Campaign Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        784,
        496
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.lock_acquired }}",
              "value2": true
            }
          ]
        }
      },
      "id": "lock-check",
      "name": "Lock Acquired?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1008,
        496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ error: true, code: 'ERR_LOCK_FAILED', message: 'Campaign is already being processed by another workflow' }) }}",
        "options": {
          "responseCode": 409
        }
      },
      "id": "return-lock-error",
      "name": "Return 409 Conflict",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1216,
        688
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PARALLEL MERGE GATE SETUP\n// Per Manifesto Section 3.3\n// Fire parallel requests: Trends + RAG + Competitors\n// ============================================\n\nconst input = $('Webhook Trigger').first().json.body;\nconst lockedCampaign = $('Acquire Campaign Lock').first().json.locked_record;\n\nreturn [{\n  json: {\n    campaign_id: input.campaign_id,\n    brand_id: input.brand_id,\n    user_id: input.user_id,\n    industry: input.industry || lockedCampaign.industry || 'technology',\n    focus_topic: input.focus_topic || '',\n    excluded_keywords: input.excluded_keywords || [],\n    execution_id: $execution.id,\n    parallel_start_time: Date.now()\n  }\n}];"
      },
      "id": "prepare-parallel",
      "name": "Prepare Parallel Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": "W0vejFr0Sv62X70X",
        "options": {}
      },
      "id": "get-brand-context",
      "name": "Get Brand Context (RAG)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1456,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/v1/trends/scrape",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "industry",
              "value": "={{ $json.industry }}"
            },
            {
              "name": "platforms",
              "value": "={{ JSON.stringify(['tiktok', 'instagram', 'twitter']) }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "scrape-trends",
      "name": "Scrape Trends (UTI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1456,
        304
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/v1/competitors/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "industry",
              "value": "={{ $json.industry }}"
            },
            {
              "name": "brand_id",
              "value": "={{ $json.brand_id }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "analyze-competitors",
      "name": "Analyze Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1456,
        496
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "merge-parallel",
      "name": "Merge Parallel Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1680,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// ASSEMBLE INTELLIGENCE CONTEXT\n// Combine: Trends + Brand Guidelines + Competitor Analysis\n// Per Manifesto Section 3.3 - Parallel Merge Gate\n// ============================================\n\nconst items = $input.all();\n\n// Extract each parallel result\nlet brandContext = null;\nlet trends = [];\nlet competitors = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  if (data.brand_context) {\n    brandContext = data.brand_context;\n  }\n  if (data.trends || (Array.isArray(data) && data[0]?.topic)) {\n    trends = data.trends || data;\n  }\n  if (data.competitor_insights || data.competitors) {\n    competitors = data.competitor_insights || data.competitors || [];\n  }\n}\n\nconst originalInput = $('Prepare Parallel Requests').first().json;\n\n// Build intelligence context\nconst intelligenceContext = {\n  campaign_id: originalInput.campaign_id,\n  brand_id: originalInput.brand_id,\n  industry: originalInput.industry,\n  focus_topic: originalInput.focus_topic,\n  excluded_keywords: originalInput.excluded_keywords,\n  \n  // Trend data\n  trends: trends.slice(0, 5), // Top 5 trends\n  trending_topics: trends.map(t => t.topic || t.name).slice(0, 5),\n  \n  // Brand context\n  brand_name: brandContext?.brand_name || 'Brand',\n  brand_tone: brandContext?.tone || 'professional',\n  brand_rules: brandContext?.brand_rules || [],\n  negative_constraints: brandContext?.negative_constraints || [],\n  positive_examples: brandContext?.positive_examples || [],\n  \n  // Competitor data\n  competitor_themes: competitors.map(c => c.theme || c.main_message).slice(0, 3),\n  competitor_count: competitors.length,\n  \n  execution_id: originalInput.execution_id\n};\n\nreturn [{ json: intelligenceContext }];"
      },
      "id": "assemble-context",
      "name": "Assemble Intelligence Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1904,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PARSE LLM RESPONSE AND TRACK COST\n// Per Manifesto Section 2, Dimension 5\n// ============================================\n\nconst context = $('Assemble Intelligence Context').first().json;\nconst llmResponse = $input.all()[0].json;\n\n// Handle LLM errors\nif (llmResponse.error) {\n  return [{\n    json: {\n      success: false,\n      error: 'LLM_ERROR',\n      error_details: llmResponse.error,\n      campaign_id: context.campaign_id\n    }\n  }];\n}\n\n// Parse response\nlet strategy = null;\ntry {\n  const content = llmResponse.choices[0].message.content;\n  // Try to extract JSON from response\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    strategy = JSON.parse(jsonMatch[0]);\n  } else {\n    strategy = { creative_direction: content };\n  }\n} catch (e) {\n  strategy = { creative_direction: llmResponse.choices[0].message.content };\n}\n\n// Calculate cost per Dimension 5\nconst usage = llmResponse.usage || {};\nconst tokensIn = usage.prompt_tokens || 0;\nconst tokensOut = usage.completion_tokens || 0;\n// GPT-4o pricing: ~$2.50/1M input, ~$10/1M output\nconst costUsd = (tokensIn * 0.0000025) + (tokensOut * 0.00001);\n\nreturn [{\n  json: {\n    success: true,\n    strategy: strategy,\n    context: context,\n    cost_data: {\n      provider: 'openai',\n      model: 'gpt-4o',\n      tokens_in: tokensIn,\n      tokens_out: tokensOut,\n      cost_usd: costUsd,\n      purpose: 'strategy_generation',\n      campaign_id: context.campaign_id,\n      execution_id: context.execution_id\n    }\n  }\n}];"
      },
      "id": "parse-strategy",
      "name": "Parse Strategy & Cost",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "llm-success-check",
      "name": "LLM Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2576,
        304
      ]
    },
    {
      "parameters": {
        "workflowId": "4OuxyvQvJ9GV3yD1",
        "options": {}
      },
      "id": "log-cost",
      "name": "Log Cost Event",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2800,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// HALLUCINATION GATE\n// Per Manifesto Section 3.4\n// Verify LLM output is grounded in sources\n// ============================================\n\nconst data = $('Parse Strategy & Cost').first().json;\nconst strategy = data.strategy;\nconst context = data.context;\n\nlet validationScore = 100;\nconst validationIssues = [];\n\n// Check 1: Recommended trend exists in our scraped trends\nif (strategy.recommended_trend?.topic) {\n  const trendExists = context.trending_topics.some(\n    t => t.toLowerCase().includes(strategy.recommended_trend.topic.toLowerCase()) ||\n         strategy.recommended_trend.topic.toLowerCase().includes(t.toLowerCase())\n  );\n  if (!trendExists) {\n    validationScore -= 30;\n    validationIssues.push('Recommended trend not found in scraped data - possible hallucination');\n  }\n}\n\n// Check 2: No excluded keywords in creative direction\nconst excludedKeywords = context.excluded_keywords || [];\nconst creativeText = JSON.stringify(strategy).toLowerCase();\nfor (const keyword of excludedKeywords) {\n  if (creativeText.includes(keyword.toLowerCase())) {\n    validationScore -= 20;\n    validationIssues.push(`Excluded keyword '${keyword}' found in strategy`);\n  }\n}\n\n// Check 3: Relevance score is reasonable\nif (strategy.recommended_trend?.relevance_score !== undefined) {\n  const score = strategy.recommended_trend.relevance_score;\n  if (score < 0 || score > 100) {\n    validationScore -= 10;\n    validationIssues.push('Relevance score out of valid range');\n  }\n}\n\n// Check 4: Required fields present\nconst requiredFields = ['creative_direction'];\nfor (const field of requiredFields) {\n  if (!strategy[field]) {\n    validationScore -= 15;\n    validationIssues.push(`Missing required field: ${field}`);\n  }\n}\n\n// Per Manifesto: Score < 70 = hallucination suspected\nconst passedGate = validationScore >= 70;\n\nreturn [{\n  json: {\n    passed_hallucination_gate: passedGate,\n    validation_score: validationScore,\n    validation_issues: validationIssues,\n    strategy: strategy,\n    context: context,\n    campaign_id: context.campaign_id\n  }\n}];"
      },
      "id": "hallucination-gate",
      "name": "Hallucination Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2800,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.validation_score }}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "gate-check",
      "name": "Passed Gate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3024,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Gate failed - log and retry with different temperature\nconst data = $input.all()[0].json;\n\nconsole.warn(`Hallucination gate failed for campaign ${data.campaign_id}`);\nconsole.warn(`Score: ${data.validation_score}, Issues: ${data.validation_issues.join('; ')}`);\n\nreturn [{\n  json: {\n    success: false,\n    error: 'ERR_LLM_HALLUCINATION',\n    validation_score: data.validation_score,\n    issues: data.validation_issues,\n    campaign_id: data.campaign_id,\n    action: 'RETRY_WITH_HIGHER_TEMPERATURE'\n  }\n}];"
      },
      "id": "gate-failed",
      "name": "Gate Failed Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        640
      ]
    },
    {
      "parameters": {
        "tableId": "creative_briefs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "brief_id",
              "fieldValue": "={{ $json.campaign_id }}"
            },
            {
              "fieldId": "brand_id",
              "fieldValue": "brand_id"
            },
            {
              "fieldId": "campaign_request",
              "fieldValue": "={{ JSON.stringify($json.context) }}"
            },
            {
              "fieldId": "creative_brief",
              "fieldValue": "={{ JSON.stringify($json.strategy) }}"
            },
            {
              "fieldId": "brand_alignment_score",
              "fieldValue": "={{ $json.validation_score }}"
            },
            {
              "fieldId": "approval_status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "metadata",
              "fieldValue": "={{ $json.context }}"
            }
          ]
        }
      },
      "id": "store-brief",
      "name": "Store Creative Brief",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3472,
        208
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ChWvV6najCTQ4JEQ",
          "name": "Brand Infinity"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare brief for storage\nconst data = $input.all()[0].json;\n\nreturn [{\n  json: {\n    campaign_id: data.campaign_id,\n    strategy_data: JSON.stringify(data.strategy),\n    trend_data: JSON.stringify(data.context.trends || []),\n    validation_score: data.validation_score,\n    status: 'generated'\n  }\n}];"
      },
      "id": "prep-brief-storage",
      "name": "Prep Brief for Storage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3216,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": "4OwwpHBjkMYBzsuI",
        "options": {}
      },
      "id": "release-lock-success",
      "name": "Release Lock (Success)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3696,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": "4OwwpHBjkMYBzsuI",
        "options": {}
      },
      "id": "release-lock-failed",
      "name": "Release Lock (Failed)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3504,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, campaign_id: $('Webhook Trigger').first().json.body.campaign_id, brief_id: $('Store Creative Brief').first().json.id, status: 'strategized', validation_score: $('Hallucination Gate').first().json.validation_score }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3920,
        208
      ]
    },
    {
      "parameters": {
        "workflowId": "uCTePCAfvuecs7La",
        "options": {}
      },
      "id": "alert-gate-failure",
      "name": "Alert: Gate Failure",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3504,
        736
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, campaign_id: $('Webhook Trigger').first().json.body.campaign_id, error: 'ERR_LLM_HALLUCINATION', validation_score: $json.validation_score, issues: $json.issues }) }}",
        "options": {
          "responseCode": 422
        }
      },
      "id": "return-gate-error",
      "name": "Return 422 Gate Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3728,
        544
      ]
    },
    {
      "parameters": {
        "workflowId": "uCTePCAfvuecs7La",
        "options": {}
      },
      "id": "alert-llm-failure",
      "name": "Alert: LLM Failure",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2768,
        944
      ]
    },
    {
      "parameters": {
        "workflowId": "4OwwpHBjkMYBzsuI",
        "options": {}
      },
      "id": "release-lock-llm-error",
      "name": "Release Lock (LLM Error)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2992,
        944
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'ERR_LLM_FAILURE', message: 'Strategy generation failed', details: $json.error_details }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "return-llm-error",
      "name": "Return 500 LLM Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        3216,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o-mini-2024-07-18', messages: [{ role: 'system', content: 'You are the Chief Strategy Officer for ' + $json.brand_name + '. Analyze trends and create a creative brief. Brand Voice: ' + $json.brand_tone + '. RULES: ' + ($json.brand_rules || []).join('; ') + '. DO NOT mention: ' + ($json.negative_constraints || []).join(', ') + '. Respond with valid JSON only containing: {\"recommended_trend\": {\"topic\": \"...\", \"relevance_score\": 0-100, \"connection_angle\": \"...\"}, \"creative_direction\": \"...\", \"hook_concept\": \"...\", \"target_emotion\": \"...\", \"call_to_action\": \"...\"}' }, { role: 'user', content: 'Analyze these trends for ' + $json.industry + ': ' + JSON.stringify($json.trending_topics) + '. Focus on: ' + ($json.focus_topic || 'general engagement') + '. Create a viral content strategy.' }], temperature: 0.7, max_tokens: 1000 }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "1dd82a47-27c3-4840-af4d-92bcee9e6bd0",
      "name": "Generate Strategy (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2128,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "q4uMr62R3vBxNENX",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Request Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request Schema": {
      "main": [
        [
          {
            "node": "Validation Passed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Passed?": {
      "main": [
        [
          {
            "node": "Acquire Campaign Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 400 Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Campaign Lock": {
      "main": [
        [
          {
            "node": "Lock Acquired?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Acquired?": {
      "main": [
        [
          {
            "node": "Prepare Parallel Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return 409 Conflict",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Parallel Requests": {
      "main": [
        [
          {
            "node": "Get Brand Context (RAG)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape Trends (UTI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analyze Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Brand Context (RAG)": {
      "main": [
        [
          {
            "node": "Merge Parallel Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Trends (UTI)": {
      "main": [
        [
          {
            "node": "Merge Parallel Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Competitors": {
      "main": [
        [
          {
            "node": "Merge Parallel Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Parallel Results": {
      "main": [
        [
          {
            "node": "Assemble Intelligence Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Intelligence Context": {
      "main": [
        [
          {
            "node": "Generate Strategy (LLM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Strategy & Cost": {
      "main": [
        [
          {
            "node": "LLM Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Success?": {
      "main": [
        [
          {
            "node": "Log Cost Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hallucination Gate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert: LLM Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert: LLM Failure": {
      "main": [
        [
          {
            "node": "Release Lock (LLM Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock (LLM Error)": {
      "main": [
        [
          {
            "node": "Return 500 LLM Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hallucination Gate": {
      "main": [
        [
          {
            "node": "Passed Gate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passed Gate?": {
      "main": [
        [
          {
            "node": "Prep Brief for Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gate Failed Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Brief for Storage": {
      "main": [
        [
          {
            "node": "Store Creative Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Creative Brief": {
      "main": [
        [
          {
            "node": "Release Lock (Success)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock (Success)": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Failed Handler": {
      "main": [
        [
          {
            "node": "Release Lock (Failed)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert: Gate Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock (Failed)": {
      "main": [
        [
          {
            "node": "Return 422 Gate Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Cost Event": {
      "main": [
        [
          {
            "node": "Prep Brief for Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Strategy (LLM)": {
      "main": [
        [
          {
            "node": "Parse Strategy & Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "54686a1c-dcfc-4cc4-bc97-f5d9ec8035d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb0f3042150127121074617aaee31b106c313805cbc452132240d35f72eba898"
  },
  "id": "AGskIRuSRHAibfHl",
  "tags": [
    {
      "updatedAt": "2025-12-23T09:40:14.135Z",
      "createdAt": "2025-12-23T09:40:14.135Z",
      "id": "ak5oOECQqNIPSE0N",
      "name": "Brand Infinity Engine"
    }
  ]
}